---
title: "Mitra - Dokumen Proyek"
currentUrl: "mitra/dokumen-proyek"
category: "berkas-saya"
header: Dokumen Proyek
---
extends ../layouts/layout
block header
  include ../partials/header-menu
  include ../partials/sidebar-mitra-new
block content
  +main_dashboard()
    .d-flex.flex-column.gap-5
      .p-4.bg-light.rounded
        .d-flex.align-items-end.mb-3.gap-4
          .flex-grow-1
            label.form-label Lokasi Tanah
            select.select.wide
              option(value='') Kavling Malebar
              option(value='1') Kavling A
              option(value='2') Kavling B
              option(value='3') Kavling C
              option(value='4') Kavling D
          .flex-grow-1
            label.form-label Proyek
            select.select.wide
              option(value='') Apartment Green Lake City
              option(value='1') PT Realtindo HK
              option(value='2') HK Realtindo PT
              option(value='3') Realtindo HK PT
              option(value='4') HK PT Realtindo
          div
            button.btn.btn-primary
              span Tampilkan
      div
        ul.nav.tab-fill.nav-tabs(role='tablist')
          li.nav-item(role='presentation')
            button#arsitek.nav-link.subtitle.active(data-bs-toggle='tab' data-bs-target='#arsitek-pane' type='button' role='tab' aria-controls='arsitek-pane' aria-selected='true')
              | Dokumen Arsitek
          li.nav-item(role='presentation')
            button#struktur.nav-link.subtitle(data-bs-toggle='tab' data-bs-target='#struktur-pane' type='button' role='tab' aria-controls='struktur-pane' aria-selected='false')
              | Dokumen Struktur
          li.nav-item(role='presentation')
            button#mep.nav-link.subtitle(data-bs-toggle='tab' data-bs-target='#mep-pane' type='button' role='tab' aria-controls='mep-pane' aria-selected='false')
              | Dokumen MEP
          li.nav-item(role='presentation')
            button#others.nav-link.subtitle(data-bs-toggle='tab' data-bs-target='#others-pane' type='button' role='tab' aria-controls='others-pane' aria-selected='false')
              | Dokumen Lain-lain
        .tab-content.border-top-0.border.rounded-bottom
          #arsitek-pane.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab' tabindex='0')
            .p-4.d-flex.flex-column.gap-4
              .d-flex.justify-content-between.align-items-center
                .d-flex.align-items-center.gap-4.p-4.bg-light.rounded-2
                  #home-tab.subtitle Tampilkan semua dokumen yang terkait dengan pemohon
                  .form-switch.body-super
                    input#flexSwitchCheckChecked.form-check-input(type='checkbox' role='switch' checked='')
                .mb-0.position-relative
                  input.form-control.ps-7(type='text' placeholder='Search')
                  .position-absolute.top-0.start-0.d-flex.pt-2.px-2
                    +bx('bx-search')
              .d-flex.align-items-center.gap-2.rounded.bg-primary-subtle.p-2
                .d-flex.p-2.text-primary
                  +bx('bx-info-circle')
                .subtitle.text-primary
                  p.mb-0 Dokumen gambar dan dokumen pendukung yang diterbitkan oleh Konsultan Arsitek
              .rounded.border
                table.table.table-striped.striped-custom
                  thead.subtitle.align-middle
                    tr
                      td.px-4
                        .form-check.custom-check.body-super.mb-0
                          input#all-proyek.form-check-input(type='checkbox' value='' data-group-checkbox='proyek')
                      td Judul Dokumen Proyek
                      td.text-center Ms. Office
                      td.text-center PDF
                      td.text-center CAD
                      td Berlaku Sampai
                      td Terakhir Diubah
                      td.text-center
                  tbody.body.align-middle
                    each val in [1,2,3,4,5,6,7,8,9]
                      tr
                        td.px-4
                          .form-check.custom-check.body-super.mb-0
                            input.form-check-input(type='checkbox' value='' id='proyek'+val data-item-checkbox='proyek')
                        td Dokumen Admin
                        td.text-center
                          button.btn.btn-light.rounded-pill
                            +bx('bx-upload')
                            span Unggah
                        td.text-center
                          button.btn.btn-light.rounded-pill
                            +bx('bx-upload')
                            span Unggah
                        td.text-center
                          button.btn.btn-light.rounded-pill
                            +bx('bx-upload')
                            span Unggah
                        td kosong
                        td kosong
                        td.text-center
                          .action-item
                            button.btn.btn-light.btn-sm.p-2.rounded-circle.action-head(type="button")
                              +bx('bx-dots-horizontal-rounded')
                            .action-body.p-2
                              button.btn.action-item
                                +bx('bx-hide')
                                span Sembunyikan
                              button.btn.action-item.text-danger(type="button" data-bs-toggle="modal" data-bs-target="#data-proyek")
                                +bx('bx-trash')
                                span Hapus
                +pagination('proyek')
          #struktur-pane.tab-pane.fade(role='tabpanel' aria-labelledby='home-tab' tabindex='1')
            .p-4.d-flex.flex-column.gap-4
              h2 Dokumen Struktur (No Figma)
          #mep-pane.tab-pane.fade(role='tabpanel' aria-labelledby='home-tab' tabindex='2')
            .p-4.d-flex.flex-column.gap-4
              h2 Dokumen MEP (No Figma)
          #others-pane.tab-pane.fade(role='tabpanel' aria-labelledby='home-tab' tabindex='3')
            .p-4.d-flex.flex-column.gap-4
              h2 Dokumen Lain-lain (No Figma)
block modal
  +modal_accept('data-proyek')(title="dokumen")
