---
title: "Mitra - Jadwal"
currentUrl: "mitra/jadwal"
category: "izin-saya"
header: "Jadwal"
---
extends ../layouts/layout
block header
  include ../partials/header-menu
  include ../partials/sidebar-mitra-new
block content
  +main_dashboard()
    .d-flex.flex-column.gap-5
      .p-4.bg-light.rounded
        .d-flex.align-items-center.gap-4
          .flex-grow-1
            div
              label.form-label Lokasi Tanah
              select.select.wide
                option(value='') Kavling Maleber
                option(value='1') Kavling A
                option(value='2') Kavling B
                option(value='3') Kavling C
            .form-check.body-super
              input#pemohon-default.form-check-input(type='checkbox' value='')
              label.form-check-label.body(for='pemohon-default')
                | Jadikan pemohon sebagai default
          .flex-grow-1
            div
              label.form-label Proyek
              select.select.wide
                option(value='') Apartment Green Lake City
                option(value='1') PT Realtindo HK
                option(value='2') HK Realtindo PT
                option(value='3') Realtindo HK PT
                option(value='4') HK PT Realtindo
            .form-check.body-super
              input#lokasi-default.form-check-input(type='checkbox' value='')
              label.form-check-label.body(for='lokasi-default')
                | Jadikan lokasi sebagai default
          div
            button.btn.btn-primary
              span Tampilkan
      .d-flex.align-items-center.gap-4
        .py-1.px-2.bg-primary-subtle.text-primary.rounded.flex-grow-1
          .d-flex.align-items-center.gap-2
            span.d-flex.p-2
              +bx('bx-info-circle')
            p.mb-0.subtitle Silakan masukkan jadwal dengan klik tombol Atur Jadwal
        div
          a.btn.btn-primary(type="button" href="/user-jadwal-detail.html")
            +bx('bx-pencil')
            span Atur Jadwal
      .border.rounded
        table.table.table-no-bottom-border.table-striped.striped-custom
          thead.subtitle.align-middle
            tr
              td.py-3.ps-4 Jenis Izin
              td.py-3 Langkah-langkah
              td.py-3 Kontrol
              td.py-3.pe-4.cell-fit.text-center
          tbody.body.align-middle
            tr
              td.py-0.px-4(colspan="4")
            tr.table-info
              td.py-3.ps-4.fw-bold(colspan="4") IMB Rumah Tinggal
            tr
              td.py-3.ps-4 IMB Rumah Tinggal
              td.py-3 -
              td.py-3 Rencana
              td.py-3.pe-4.cell-fit.text-center
                span.badge.border.border-danger.text-danger
                  | Closed
            tr.table-info
              td.py-3.ps-4.fw-bold(colspan="4") IMB Rumah Tinggal
            tr
              td.py-3.ps-4(rowspan="5") Izin Bongkar
              td.py-3.elipsis-cell 1. Pemasukan Berkas ke DPM PTSP
              td.py-3 Rencana
              td.py-3.pe-4.cell-fit.text-center
                span.badge.border.border-success.text-success
                  | Open
            tr
              td.py-3.elipsis-cell 2. Pengecekan administrasi & teknis oleh DPM PTSP
              td.py-3 Rencana
              td.py-3.pe-4.cell-fit.text-center
                span.badge.border.border-success.text-success
                  | Open
            tr
              td.py-3.elipsis-cell 3. disposisi dari DPM PTSP ke Dinas Citata
              td.py-3 Rencana
              td.py-3.pe-4.cell-fit.text-center
                span.badge.border.border-success.text-success
                  | Open
            tr
              td.py-3.elipsis-cell 4. Survey lapangan by Dinas Citata
              td.py-3 Rencana
              td.py-3.pe-4.cell-fit.text-center
                span.badge.border.border-success.text-success
                  | Open
            tr
              td.py-3.elipsis-cell 5. Revisi Kajian Bongkar (bila ada) by Dinas Citata
              td.py-3 Rencana
              td.py-3.pe-4.cell-fit.text-center
                span.badge.border.border-success.text-success
                  | Open
            tr
              td.py-3.ps-4(rowspan="6") Izin Bongkar
              td.py-3.elipsis-cell 1. Pemasukan Berkas ke DPM PTSP
              td.py-3 Rencana
              td.py-3.pe-4.cell-fit.text-center
                span.badge.border.border-success.text-success
                  | Open
            tr
              td.py-3.elipsis-cell 2. Pengecekan administrasi & teknis oleh DPM PTSP
              td.py-3 Rencana
              td.py-3.pe-4.cell-fit.text-center
                span.badge.border.border-success.text-success
                  | Open
            tr
              td.py-3.elipsis-cell 3. disposisi dari DPM PTSP ke Dinas Citata
              td.py-3 Rencana
              td.py-3.pe-4.cell-fit.text-center
                span.badge.border.border-success.text-success
                  | Open
            tr
              td.py-3.elipsis-cell 4. Survey lapangan by Dinas Citata
              td.py-3 Rencana
              td.py-3.pe-4.cell-fit.text-center
                span.badge.border.border-danger.text-danger
                  | Closed
            tr
              td.py-3.elipsis-cell 5. Revisi Kajian Bongkar (bila ada) by Dinas Citata
              td.py-3 Rencana
              td.py-3.pe-4.cell-fit.text-center
                span.badge.border.border-danger.text-danger
                  | Closed
            tr
              td.py-3.elipsis-cell 6. approval Rekomtek Bongkar by Dinas Citata
              td.py-3 Rencana
              td.py-3.pe-4.cell-fit.text-center
                span.badge.border.border-danger.text-danger
                  | Closed