---
title: "Mitra - Peraturan Perizinan"
currentUrl: 'mitra/pemohon'
category: single
header: "Peraturan Perizinan"
---
extends ../layouts/layout
block header
  include ../partials/header-menu
  include ../partials/sidebar-mitra-new
block content
  +main_dashboard()
    .d-flex.flex-column.gap-5
      .p-4.bg-light.rounded
        p.subtitle Filter Pencarian
        .row.row-cols-4.gy-3
          .col 
            div
              label.form-label(for="nama") Nama Pemohon
              input#nama.form-control(type='text' name='nama' placeholder="Nama Pemohon")
          .col
            div
              label.form-label(for='') Kategori Pemohon
              select.select.wide#kategori(name="kategori")
                option(value="") Select Pemohon
                option(value="undang") Undang-undang
                option(value="lingkungan") Lingkungan
          .col
            div
              label.form-label(for='provinsi') Jenis
              select.select.wide#provinsi(name="provinsi")
                option(value="") Select Lokasi
                option(value="dki") DKI Jakarta
                option(value="di") Yogyakarta
          .col
            div
              label.form-label(for='') Telpon Kantor
              .mb-0.position-relative
                input.form-control.ps-7(type='tel' placeholder='+62 857-7067-1234')
                .position-absolute.top-0.start-0.bottom-0.d-flex.px-2.flex-column.justify-content-center
                  .flag-id.border
          .col-12
            .d-flex.justify-content-end
              div
                button(type="button").btn.btn-primary Tampilkan 
                button(type="button").btn.btn-outline-danger Reset
      .p-4.border.rounded
        .d-flex.flex-column.gap-4 
          .text-end 
            button(type="button").btn.btn-primary
              +bx("bx-plus")
              span Tambah Pemohon
          div
            iframe(frameborder='0' height='250' width='auto' style='width: 100%;' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?width=320&height=320&hl=en&q=-6.1754083,106.824584&t=&z=14&ie=UTF8&iwloc=B&output=embed')
          .rounded.border
            table.table.table-striped.striped-custom.mb-0
              thead.subtitle.align-middle
                tr
                  td.px-4 Nama Pemohon
                  td Kategori Pemohon
                  td Jenis Pemohon
                  td Telpon Kantor
                  td.px-4.text-center
              tbody.align-middle.body
                each val in [1, 2, 3, 4, 5]
                  tr 
                    td.px-4 Cell 
                    td Cell 
                    td Cell 
                    td Cell 
                    td.px-4.text-center
                      button.btn.btn-light.btn-sm.p-2.rounded-circle.action-head(type="button")
                        +bx('bx-dots-horizontal-rounded')
          +pagination