---
title: Admin - Dashboard
header: Form Event
---
extends layouts/layout
block header
  include partials/header-other
block content
  .container.pb-5.mb-6
    .p-5.mb-5
      .d-flex.flex-column.gap-4
        div
          label.form-label(for='judule') Judul Event
          input#judule.form-control(type='text' placeholder="Judul Event")
        div
          label.form-label(for='isi') Deskripsi Event
          #editor
        div
          label.form-label(for='gambar') Upload Gambar
          +file_upload('gambar')
block modal
  +footer_back
    button.btn.btn-light.px-8(type="button") Cancel
    button.btn.btn-primary.ms-4.px-8(type="button") Save
