---
title: Admin - Dashboard
currentUrl: admin-dokumen
category: data-master
header: Dokumen
---
extends layouts/layout
block header
  include partials/header-dashboard
  include partials/sidebar-admin
block content
  +main_dashboard()
    .d-flex.flex-column.gap-5
      .d-flex.justify-content-end.align-items-center.gap-4
        div
          select#filter.select.right(name="filter")
            option(value="" data-display="Filter") Filter
            option(value="filter 1") Filter 1
        .mb-0.position-relative.me-auto
          input.form-control.bg-light.ps-7(type='text' placeholder='Search')
          .position-absolute.top-0.start-0.d-flex.pt-2.px-2
            +bx('bx-search')
        div
          button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#modal-form-kategori-peraturan")
            +bx('bx-plus')
            span Tambah Data
      .border.rounded
        table.table.table-striped.striped-custom.mb-0
          thead.subtitle.align-middle
            tr
              td.py-4.px-4.cell-fit Urutan
              td.py-4 Nama Kategori
              td.py-4 Dokumen
              td.py-4.px-4.text-center
          tbody.body.align-middle
            each i,index in ['gubernur','daerah','kepala dinas','menteri','pemerintah','presiden','perundang-undangan']
              tr
                td.py-4.px-4= index + 1
                td.py-4
                  +bx('bx-grid-vertical')(class="align-middle")
                  span.align-middle.text-capitalize dokumen badan hukum
                td.py-4 KKPR (Persetujuan Kesesuaian Kegiatan Pemanfaatan Ruang)
                td.px-4.tex-center.cell-fit
                  .action-item
                    button.btn.btn-light.btn-sm.p-2.rounded-circle.action-head(type="button")
                      +bx('bx-dots-horizontal-rounded')
                    .action-body
                      .p-2.d-flex.flex-column
                        a.btn.action-item(href='/admin-order-list.html')
                          +bx('bx-file-blank')
                          span Lihat detail
                        button.btn.action-item.text-danger(type="button" data-bs-toggle="modal" data-bs-target="#hapus-kategori")
                          +bx('bx-trash')
                          span Hapus
        +pagination
block modal
  +modal_accept('hapus-kategori')
  +modal_with_close('modal-form-kategori-peraturan','Form Dokumen')(title="Tambah")
    .p-4.d-flex.flex-column.gap-4
      div
        label.form-label(for='kategori') Pilih Kategori
        select#kategori.select.wide(name="kategori")
          option(value="") Kategori
          option(value="2") Kategori
          option(value="3") Kategori
          option(value="4") Kategori
          option(value="5") Kategori
      div
        label.form-label(for='nama') Nama Dokumen
        input#nama.form-control(type='text' placeholder="Nama Dokumen")
      div
        label.form-label(for='urutan') Urutan
        select#urutan.select.wide(name="urutan")
          option(value="" data-display="1") 1
          option(value="2") 2
          option(value="3") 3
          option(value="4") 4
          option(value="5") 5
