---
title: Admin - Dashboard
currentUrl: admin-pengguna
header: Pengguna
---
extends layouts/layout
block header
  include partials/header-dashboard
  include partials/sidebar-admin
block content
  +main_dashboard()
    .d-flex.flex-column.gap-5
      .d-flex.justify-content-end.align-items-center.gap-4
        div
          select#filter.select.right(name="filter")
            option(value="" data-display="Filter") Filter
            option(value="filter 1") Filter 1
        .mb-0.position-relative.me-auto
          input.form-control.bg-light.ps-7(type='text' placeholder='Search')
          .position-absolute.top-0.start-0.d-flex.pt-2.px-2
            +bx('bx-search')
        
      div
        ul.nav.tab-fill.nav-tabs(role='tablist')
          li.nav-item(role='presentation')
            button#first.nav-link.subtitle.active(data-bs-toggle='tab' data-bs-target='#first-pane' type='button' role='tab' aria-controls='first-pane' aria-selected='true')
              | Super Admin
          li.nav-item(role='presentation')
            button#second.nav-link.subtitle(data-bs-toggle='tab' data-bs-target='#second-pane' type='button' role='tab' aria-controls='second-pane' aria-selected='false')
              | Owner/Pemohon
          li.nav-item(role='presentation')
            button#third.nav-link.subtitle(data-bs-toggle='tab' data-bs-target='#third-pane' type='button' role='tab' aria-controls='third-pane' aria-selected='false')
              | Mitra
        .tab-content.border-top-0.border.rounded-bottom
          #first-pane.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab' tabindex='0')
            .p-4.d-flex.flex-column.gap-4
              .text-end 
                button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#form-admin")
                  +bx('bx-plus')
                  span Tambah Data
              .border.rounded
                table.table.table-striped.striped-custom.mb-0
                  thead.subtitle.align-middle
                    tr
                      td.py-4.px-4 Nama
                      td.py-4 No HP
                      td.py-4 Email
                      td.py-4 Perusahaan
                      td.py-4.text-center Jenis Pengguna
                      td.py-4 Kategori
                      td.py-4 Akses
                      td.py-4 status
                      td.py-4.px-4.text-center
                  tbody.body.align-middle
                    each name in ['Jakob Westervelt','Kaiya Korsgaard','Angel Bergson']
                      tr
                        td.py-4.px-4=name
                        td.py-4 085779664622
                        td.py-4 email@mail com
                        td.py-4 Lisensia
                        td.py-4.text-center
                          span.badge.bg-primary Internal
                        td.py-4 Super Admin
                        td.py-4 Editor
                        td.py-4
                          span.badge.border.border-success.text-success Active
                        td.px-4.tex-center.cell-fit
                          .action-item
                            button.btn.btn-light.btn-sm.p-2.rounded-circle.action-head(type="button")
                              +bx('bx-dots-horizontal-rounded')
                            .action-body
                              .p-2.d-flex.flex-column
                                a.btn.action-item(href='/admin-order-list.html')
                                  +bx('bx-file-blank')
                                  span Lihat Pengguna
                                button.btn.action-item.text-danger(type="button" data-bs-toggle="modal" data-bs-target="#hapus-pengguna")
                                  +bx('bx-trash')
                                  span Hapus
                +pagination
          #second-pane.tab-pane.fade(role='tabpanel' aria-labelledby='home-tab' tabindex='1')
            .p-4.d-flex.flex-column.gap-4
              .text-end 
                button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#form-admin")
                  +bx('bx-plus')
                  span Tambah Data
              .d-flex.align-items-center.px-2.rounded.border.bg-primary-subtle.text-primary
                .d-inline-flex.p-2
                  +bx('bx-info-circle')
                span.subtitle Jumlah Pemohon saat ini <strong>48</strong> user
              div
                iframe(frameborder='0' height='250' width='auto' style='width: 100%;' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?width=320&height=320&hl=en&q=-6.1754083,106.824584&t=&z=14&ie=UTF8&iwloc=B&output=embed')
              .border.rounded
                table.table.table-striped.striped-custom.mb-0
                  thead.subtitle.align-middle
                    tr
                      td.py-4.px-4 Nama
                      td.py-4 No HP
                      td.py-4 Email
                      td.py-4 Perusahaan
                      td.py-4.text-center Jenis Pengguna
                      td.py-4 Kategori
                      td.py-4 Akses
                      td.py-4 status
                      td.py-4.px-4.text-center
                  tbody.body.align-middle
                    each name in ['Jakob Westervelt','Kaiya Korsgaard','Angel Bergson','Makenna Calzoni']
                      tr
                        td.py-4.px-4=name
                        td.py-4 085779664622
                        td.py-4 email@mail com
                        td.py-4 Lisensia
                        td.py-4.text-center
                          span.badge.bg-warning Ekternal
                        td.py-4 Owner
                        td.py-4 Editor
                        td.py-4
                          span.badge.border.border-success.text-success Active
                        td.px-4.tex-center.cell-fit
                          .action-item
                            button.btn.btn-light.btn-sm.p-2.rounded-circle.action-head(type="button")
                              +bx('bx-dots-horizontal-rounded')
                            .action-body
                              .p-2.d-flex.flex-column
                                a.btn.action-item.text-success(href='/admin-order-list.html')
                                  +bx('bx-check')
                                  span Approve Invoice
                                a.btn.action-item(href='/admin-order-list.html')
                                  +bx('bx-file-blank')
                                  span Lihat Pengguna
                                button.btn.action-item.text-danger(type="button" data-bs-toggle="modal" data-bs-target="#hapus-pengguna")
                                  +bx('bx-trash')
                                  span Hapus
                +pagination
          #third-pane.tab-pane.fade(role='tabpanel' aria-labelledby='home-tab' tabindex='1')
            .p-4.d-flex.flex-column.gap-4
              .text-end 
                button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#form-mitra")
                  +bx('bx-plus')
                  span Tambah Data
              .d-flex.align-items-center.px-2.rounded.border.bg-primary-subtle.text-primary
                .d-inline-flex.p-2
                  +bx('bx-info-circle')
                span.subtitle Jumlah Pemohon saat ini <strong>48</strong> user
              div
                iframe(frameborder='0' height='250' width='auto' style='width: 100%;' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?width=320&height=320&hl=en&q=-6.1754083,106.824584&t=&z=14&ie=UTF8&iwloc=B&output=embed')
              .border.rounded
                table.table.table-striped.striped-custom.mb-0
                  thead.subtitle.align-middle
                    tr
                      td.py-4.px-4 Nama
                      td.py-4 No HP
                      td.py-4 Email
                      td.py-4 Perusahaan
                      td.py-4.text-center Jenis Pengguna
                      td.py-4 Kategori
                      td.py-4 Akses
                      td.py-4 status
                      td.py-4.px-4.text-center
                  tbody.body.align-middle
                    each name,index in ['Jakob Westervelt','Kaiya Korsgaard','Angel Bergson','Makenna Calzoni','Craig Dokidis','Tiana Donin']
                      tr
                        td.py-4.px-4=name
                        td.py-4 085779664622
                        td.py-4 email@mail com
                        td.py-4 Lisensia
                        td.py-4.text-center
                          span.badge(class={'bg-warning': (index !== 2 && index !== 3), 'bg-primary': index == 2 || index == 3}) #{ (index !== 2 && index !== 3) ? 'Ekternal': 'Internal'}
                        td.py-4 Owner
                        td.py-4 Editor
                        td.py-4
                          span.badge.border.border-success.text-success Active
                        td.px-4.tex-center.cell-fit
                          .action-item
                            button.btn.btn-light.btn-sm.p-2.rounded-circle.action-head(type="button")
                              +bx('bx-dots-horizontal-rounded')
                            .action-body
                              .p-2.d-flex.flex-column
                                a.btn.action-item(href='/admin-order-list.html')
                                  +bx('bx-file-blank')
                                  span Lihat Pengguna
                                button.btn.action-item.text-danger(type="button" data-bs-toggle="modal" data-bs-target="#hapus-pengguna")
                                  +bx('bx-trash')
                                  span Hapus
                +pagination

block modal
  +modal_accept('hapus-pengguna')(title="pengguna")
  +modal_with_close('form-admin','Form Super Admin')(class="modal-lg" title="Save" btn="btn-primary")
    .row.gy-3
      .col-12 
        div
          label.form-label(for='jenis') Jenis Pengguna
          select#jenis.select.wide(name="jenis")
            option(value="" data-display="Pilih Jenis Pengguna") Pilih Jenis Pengguna
            option(value="limited") Limited
      .col-6 
        div
          label.form-label(for='nama') Nama
          input#nama.form-control(type='text' placeholder="Nama")
      .col-6 
        div
          label.form-label(for='perusahaan') Perusahaan
          input#perusahaan.form-control(type='text' placeholder="Perusahaan")
      .col-6 
        div
          label.form-label(for='mobile') Nomor HP
          .mb-0.position-relative
            input.form-control.ps-7(type='tel' placeholder='+62 857-7067-1234')
            .position-absolute.top-0.start-0.bottom-0.d-flex.px-2.flex-column.justify-content-center
              .flag-id.border
      .col-6 
        div
          label.form-label(for='email') Email
          input#email.form-control(type='email' placeholder="Email")
      .col-6 
        div
          label.form-label(for='tutorial') Akses
          select#tutorial.select.wide(name="tutorial")
            option(value="" data-display="Pilih Akses")
            option(value="tidak") Nonactive
      .col-6 
        div
          label.form-label(for='tutorial') Status
          select#tutorial.select.wide(name="tutorial")
            option(value="" data-display="Aktif") Active
            option(value="tidak") Nonactive
      .col-12 
        div 
          label.form-label(for='tutorial') Lokasi
        div 
          iframe(frameborder='0' height='250' width='auto' style='width: 100%;' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?width=320&height=320&hl=en&q=-6.1754083,106.824584&t=&z=14&ie=UTF8&iwloc=B&output=embed')
      .col-12 
        div
          label.form-label(for="password") Kata sandi<sup class="text-danger">*</sup>
          .position-relative
            button.text-light-emphasis.btn.p-2.position-absolute.top-0.end-0(type="button" data-password="password")
              +bx('bx-show')
            input#password.form-control(type='password' name='password' placeholder='Kata sandi')
      .col-12 
        div
          label.form-label(for="confirm-password") Konfirmasi Kata sandi<sup class="text-danger">*</sup>
          .position-relative
            button.text-light-emphasis.btn.p-2.position-absolute.top-0.end-0(type="button" data-password="confirm-password")
              +bx('bx-show')
            input#confirm-password.form-control(type='password' name='confirm-password' placeholder='Kata sandi baru')
  +modal_with_close('form-mitra','Form Mitra')(class="modal-lg" title="Save" btn="btn-primary")
    .row.gy-3
      .col-12 
        div
          label.form-label(for='jenis') Jenis Pengguna
          select#jenis.select.wide(name="jenis")
            option(value="" data-display="Pilih Jenis Pengguna") Pilih Jenis Pengguna
            option(value="limited") Limited
      .col-6 
        div
          label.form-label(for='nama') Nama
          input#nama.form-control(type='text' placeholder="Nama")
      .col-6 
        div
          label.form-label(for='perusahaan') Perusahaan
          input#perusahaan.form-control(type='text' placeholder="Perusahaan")
      .col-6 
        div
          label.form-label(for='mobile') Nomor HP
          .mb-0.position-relative
            input.form-control.ps-7(type='tel' placeholder='+62 857-7067-1234')
            .position-absolute.top-0.start-0.bottom-0.d-flex.px-2.flex-column.justify-content-center
              .flag-id.border
      .col-6 
        div
          label.form-label(for='email') Email
          input#email.form-control(type='email' placeholder="Email")
      .col-6 
        div
          label.form-label(for='tutorial') Akses
          select#tutorial.select.wide(name="tutorial")
            option(value="" data-display="Pilih Akses")
            option(value="tidak") Nonactive
      .col-6 
        div
          label.form-label(for='tutorial') Status
          select#tutorial.select.wide(name="tutorial")
            option(value="" data-display="Aktif") Active
            option(value="tidak") Nonactive
      .col-6 
        div
          label.form-label(for='mitra') Upload Mitra
          +file_upload('mitra')
      .col-6 
        div
          label.form-label(for='company') Company Profile
          +file_upload('company')
      .col-12 
        div 
          iframe(frameborder='0' height='250' width='auto' style='width: 100%;' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?width=320&height=320&hl=en&q=-6.1754083,106.824584&t=&z=14&ie=UTF8&iwloc=B&output=embed')
      .col-12
        div 
          label.form-label(for='tutorial') Lokasi
        div
          label.form-label(for="password") Kata sandi<sup class="text-danger">*</sup>
          .position-relative
            button.text-light-emphasis.btn.p-2.position-absolute.top-0.end-0(type="button" data-password="password")
              +bx('bx-show')
            input#password.form-control(type='password' name='password' placeholder='Kata sandi')
      .col-12 
        div
          label.form-label(for="confirm-password") Konfirmasi Kata sandi<sup class="text-danger">*</sup>
          .position-relative
            button.text-light-emphasis.btn.p-2.position-absolute.top-0.end-0(type="button" data-password="confirm-password")
              +bx('bx-show')
            input#confirm-password.form-control(type='password' name='confirm-password' placeholder='Kata sandi baru')
