---
title: Daftar Isi
currentUrl: index
---
extends layouts/layout
block content
  .p-5.d-flex.gap-4
    a.btn.btn-primary(href="/user.html") Dashboard User
    a.btn.btn-primary(href="/admin.html") Dashboard Admin
    a.btn.btn-primary(href="/mitra.html") Dashboard Mitra

