---
title: Mitra - Dashboard
currentUrl: mitra-master-proyek
category: berkas-pemohon
header: Master Proyek
---
extends layouts/layout
block header
  include partials/header-dashboard
  include partials/sidebar-mitra
block content
  +main_dashboard()
    .d-flex.flex-column.gap-5
      .p-4.bg-light.rounded
        .d-flex.align-items-end.mb-3.gap-4
          .flex-grow-1
            label.form-label Pemohon
            select.select.wide
              option(value='') PT HK Realtindo
              option(value='1') PT Realtindo HK
              option(value='2') HK Realtindo PT
              option(value='3') Realtindo HK PT
              option(value='4') HK PT Realtindo
          .flex-grow-1
            label.form-label Tanah/Lokasi
            select.select.wide
              option(value='') Apartment Green Lake City
              option(value='1') PT Realtindo HK
              option(value='2') HK Realtindo PT
              option(value='3') Realtindo HK PT
              option(value='4') HK PT Realtindo
          div
            button.btn.btn-primary
              span Tampilkan
      div
        .d-flex.justify-content-between.align-items-center.mb-4
          .rounded.px-2.py-3.gap-2.bg-primary-subtle.text-primary.subtitle.me-auto.d-flex.align-items-center
            .d-flex.align-items-center
              +bx('bx-info-circle')
            span Mitra hanya dapat melihat data pemohon
          .mb-0.position-relative
            input.form-control.ps-7(type='text' placeholder='Search')
            .position-absolute.top-0.start-0.d-flex.pt-2.px-2
              +bx('bx-search')
        .border.rounded
          table.table.table-striped.striped-custom
            thead.subtitle.align-middle
              tr
                td.py-3.px-4 Nama Proyek
                td.py-3 Lokasi Pengurusan Izin
                td.py-3 Konsultan Arsitek
                td.py-3 Konsultan Struktur
                td.py-3 Konsultan MEP
                td.py-3
            tbody.body.align-middle
              each lo in ['Apartment Green Lake City', 'Sudirman Fashion Week', 'Perumahan Belka Residence']
                tr
                  td.px-4.elipsis-cell=lo
                  td DKI Jakarta
                  td Dimas
                  td Hamid
                  td Whelly
                  td.text-center
                    a.btn.btn-outline-primary.btn-sm.rounded-pill(href="/mitra-master-proyek-pemohon.html")
                      +bx('bx-show')
                      span Details
          +pagination()
