---
title: User - Dashboard
currentUrl: user-change-password
category: account-setting
header: Account Settings
---
extends layouts/layout
block header
  include partials/header-dashboard
  include partials/sidebar-user
block content
  +main_dashboard()
    .d-flex.flex-column.gap-4
      .d-flex.justify-content-between.align-items-center
        h6.mb-0 Change Password
      div
        .row
          .col-md-5
            .mb-4
              label.form-label(for="current-password") Kata sandi sekarang<sup class="text-danger">*</sup>
              .position-relative
                button.text-light-emphasis.btn.p-2.position-absolute.top-0.end-0(type="button" data-password="current-password")
                  +bx('bx-show')
                input#current-password.form-control(type='password' name='current-password' placeholder='Kata sandi sekarang')
            .mb-4
              label.form-label(for="new-password") Kata sandi baru<sup class="text-danger">*</sup>
              .position-relative
                button.text-light-emphasis.btn.p-2.position-absolute.top-0.end-0(type="button" data-password="new-password")
                  +bx('bx-show')
                input#new-password.form-control(type='password' name='new-password' placeholder='Kata sandi baru')
            .mb-4
              label.form-label(for="confirm-password") Konfirmasi kata sandi baru<sup class="text-danger">*</sup>
              .position-relative
                button.text-light-emphasis.btn.p-2.position-absolute.top-0.end-0(type="button" data-password="confirm-password")
                  +bx('bx-show')
                input#confirm-password.form-control(type='password' name='confirm-password' placeholder='Konfirmasi kata sandi baru')
            .pt-4
              button.btn.btn-primary(type="button")
                span Change Password
