-
  var pakets = [{
      n: 'Free Trial',
      d: 30,
      h: '0',
      u: 1,
      p: 1,
      t: 'Limited',
      hp: 'Tidak',
      jp: 'Tidak',
      l: 'Tidak'
    },{
      n: 'Basic',
      d:10,
      h:'250.000',
      u:1,
      p:1,
      t:'Limited',
      hp:'Ya',
      jp:'Tidak',
      l:'Tidak'
    },{
      n: 'Premium',
      d:20,
      h:'500.000',
      u:2,
      p:5,
      t:'Limited',
      hp:'Ya',
      jp:'Tidak',
      l:'Tidak'
    },{
      n: 'Business',
      d:12,
      h:'750.000',
      u:10,
      p:'unlimited',
      t:'Unlimited',
      hp:'Ya',
      jp:'Ya',
      l:'Tidak'
  }]
